.intro-wrapper {
  display: flex;
  padding: 1.8rem;
  justify-content: center;
  align-items: center;
}

.intro-text-wrapper {
  max-width: min(80ch, 100%);
}

.intro-images {
  display: flex;
  flex: 1 1 1;
}

figure {
  border: 1px solid black;
  padding: 2rem;
}

figcaption {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

img {
  margin: 0.4rem;
  border: 1px solid black;
}

@media (max-width: 60em) {
  .intro-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1rem;
  }

  .intro-team-wrapper {
    margin-bottom: 4.2rem;
  }

  .intro-text-wrapper {
    width: 80ch;
  }
}
