.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-image {
  opacity: 0.8;
  filter: sepia(0.3);
  width: min(50%, 50vw);
}

@media (max-width: 40em) {
  .form-image {
    display: none;
  }
}
